@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .ql-picker-label {
  color: indianred !important;
}
.ql-stroke {
  stroke: indianred !important;
  fill: red !important;
}
.ql-fill {
  stroke: indianred !important;
  fill: red !important;
}
.ql-picker-item {
  color: indianred !important;
} */

.ql-toolbar {
  border: 1px solid #4b5563 !important;
  border-radius: 8px 8px 0 0;
  padding: 8px !important;
  background-color: #22C55E;
}

.ql-container {
  height: 65dvh;
  border: 1px solid #4b5563 !important;
  border-radius: 0 0 8px 8px;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  font-size: 16px;
  color: #9CA3AF;
  font-style: normal;
}